@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-surface text-white font-sans;
}


.container {
  @apply mx-auto px-6 max-w-7xl;
}
@keyframes popup {
  0% { opacity: 0; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}

.animate-popup {
  animation: popup 0.4s ease-out;
}
